Nombre,Fecha Inicio,Ubicación,Provincia,Disciplina,Modalidad,Distancia,Altimetría,Etapas,Días,URL Inscripción,Email,Teléfono,Sitio Web,Instagram
100k de los Palmares Rally Bike,2024-03-15,Colón,Entre Ríos,Rally,Individual y en parejas,116 km,2500m,1,1,https://inscripcion.com,contacto@carrera.com,+54 11 1234-5678,www.carrera.com,@100krallybike
2º desafío Cristo Rey del Valle,2024-03-20,Tupungato,Mendoza,Rally,Individual,,,1,1,,,,,
50 millas,2024-03-25,Santa Rosa,Córdoba,Rally,Individual y en parejas,,,,1,,,,,

